html,
body {
  border-top: 3%;
  border-radius: 2%;
  background-color: rgba(36, 116, 136, 0.776);
  max-width: 100%;
  overflow-x: hidden;
}

.header-container {
  border-radius: 3%;
  background-color: rgb(18, 34, 64);
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  box-shadow: 1px 1px 1px black;
  font-size: medium;
}

.nav-items {
  color: rgba(32, 163, 224, 0.947);
  display: flex;
  list-style-type: none;
}
.logo {
  padding: 7px;
  width: 100px;
  border-radius: 30%;
}
.nav-items > li {
  padding: 10px;
  font-weight: 600;
}

.cart {
  width: 40px;
}

.cart-container {
  color: rgb(68, 134, 192);
  padding: 15px;
  background-color: rgb(11, 98, 104);
}

.right {
  display: flex;
  flex-direction: row-reverse;
}

/* resto component */

.resto-card {
  color: rgb(233, 212, 184);
  display: flex;
  padding: 40px;
  width: 100%;
  flex-wrap: wrap;
}

.card-container {
  border-radius: 5%;
  background-color: rgb(48, 72, 53);
  width: 20%;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.resto-image > img {
  width: 100%;
}
